$blue-color: #ecf9ff;
$coral-color: #EF8D9C;
$white-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.6);

$bg-color: $blue-color;
$font-color: $coral-color;
$font-weight: 400;
$button-font-color: $white-color;
$button-font-size: 14px;
$border-radius: 4px;
$bg-gradient:linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
$font-family: 'Quicksand';